<div id="activity" data-role="page" data-theme="a">
  <div data-role="header" data-theme = "b">
  <button class="signout-button">Sign Out</button>
    <h1>Fatman</h1>
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <h1>CHOOSE YOUR LEVEL OF ACTIVITY</h1>
      <label for="select-native-17">Level Of Activity</label>
    <select name="select-native-17" id="select-native-1" onchange="activity(this.value)">
      <option name="Sedentary" value="1.2">Sedentary (little or no exercise)</option>
      <option name="Lightly" value="1.375">Lightly active (light exercise/sports 1­ to 3 days/week)</option>
      <option name="Moderate" value="1.55">Moderately active (moderate exercise/sports 3­ to 5 days/week)</option>
      <option name="Very-Active" value="1.725">Very active (hard exercise/sports 6­ to 7 days a week)</option>
      <option name="Extra-Active" value="1.95">Extra active (very hard exercise/sports & physical job or 2x/day training)</option>
    </select>
  </div>
  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id="activity-btn">NEXT</a>
  </div>
  <script type="text/javascript">
    var accessToken = window.localStorage.jwt;
    function activity(value) {
      console.log(value);
      return value;
    }

    $(document).ready(function() {
      $.ajax({
        method: 'GET',
        url: '/user',
        dataType: 'json',
        headers: {'jwt': accessToken},
        contentType: 'application/json',
        success: function(data) {
          console.log('GET activity', data);
          $('#select-native-1').val(data.activity.activityValue);
        },
        error: function(data) {
          console.log('error', data);
        }
      });
    });
  </script>
</div>