<div id="admin-page" data-role="page" data-theme="a">
  <div data-role="header" data-theme="b">
    <h1>Fatman</h1>
    <!-- <a data-role="button" data-rel="back" class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a> -->
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div data-role="header">
    ADMIN OPTIONS
  </div>
  <label>UPLOAD COUPON</label>
  <input type="file" id="coupon-input"></input>

  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id = "admin-btn">SAVE</a>
  </div>
</div>