<div id="beers" data-role="page" data-theme="a">
  <div data-role="header" data-theme = "b">
    <button class="signout-button">Sign Out</button>
    <h1>Fatman</h1>
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <h1>BEERS CONSUMED</h1>
    <form method="post">
      <div class="inc button">+</div>
      <input type="text" name="hours" id="beers-drank" value="1">
      <div class="dec button">-</div>
      <label for="name">QUANTITY</label>
    </form>
  </div>
  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id = "beer-btn">NEXT</a>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    var accessToken = window.localStorage.jwt;
      $.ajax({
        method: 'GET',
        url: '/user',
        dataType: 'json',
        headers: {'jwt': accessToken},
        contentType: 'application/json',
        success: function(data) {
          console.log('GET beers', data);
          $('#beers-drank').val(data.beers.drank);
        },
        error: function(data) {
          console.log('error', data);
        }
      });
    });
  </script>
</div>