<div id="birthday" data-role="page" data-theme="a">
  <div>
    <div>MY BIRTHDAY</div>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="day" id="day" value="1">
      <div class="dec button">-</div>
      <label for="name">DAY</label>
    </form>
    <span>/</span>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="month" id="month" value="1">
      <div class="dec button">-</div>
      <label for="name">MONTH</label>
    </form>
    <span>/</span>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="year" id="year" value="2000">
      <div class="dec button">-</div>
      <label for="name">YEAR</label>
    </form>
  </div>
</div>