<div id="birthday" data-role="page" data-theme="a">
  <div data-role="header" data-theme = "b">
    <h1>Fatman</h1>
    <a class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a>
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <div>MY BIRTHDAY</div>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="day" id="day" value="1">
      <div class="dec button">-</div>
      <label for="name">DAY</label>
    </form>
    <span>/</span>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="month" id="month" value="1">
      <div class="dec button">-</div>
      <label for="name">MONTH</label>
    </form>
    <span>/</span>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="year" id="year" value="2000">
      <div class="dec button">-</div>
      <label for="name">YEAR</label>
    </form>
  </div>
</div>