<div id="birthday" data-role="page" data-theme="a">
  <div data-role="header" data-theme = "b">
    <h1>Fatman</h1>
    <!-- <a class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a> -->
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <h1>MY BIRTHDAY</h1>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="day" id="birthday-day" value="1">
      <div class="dec button">-</div>
      <label for="name">DAY</label>
    </form>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="month" id="birthday-month" value="1">
      <div class="dec button">-</div>
      <label for="name">MONTH</label>
    </form>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="year" id="birthday-year" value="2000">
      <div class="dec button">-</div>
      <label for="name">YEAR</label>
    </form>
  </div>
  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id = "birthday-btn">NEXT</a>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        method: 'GET',
        url: '/user',
        headers: {'jwt': accessToken},
        contentType: 'application/json',
        success: function(data) {
          console.log('GET activity', data);
          $('#birthday-day').val(data.date_of_birth.substring(0,2));
          $('#birthday-month').val(data.date_of_birth.substring(2,4));
          $('#birthday-year').val(data.date_of_birth.substring(4,8));
        },
        error: function(data) {
          console.log('error', data);
        }
      });
    });
  </script>
</div>