<div id = "coupon" data-role="page" data-theme = "a">
  <div data-role="header" data-theme = "b">
    <h1>Fatman</h1>
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div>

  <div id = "login-content" role="main" class="ui-content">
    <div>Thanks for using FATMAN. Here's a $1.00 off a beer coupon at the Hop & The Hound.  Expires 5/24/15.</div>
    <a target="_blank" href="http://www.thehopandhound.com/"><img src="http://static1.squarespace.com/static/5331eadce4b06945e5d0061f/t/53a9a065e4b07db90f7da734/1403625573685/Home+Banner?format=1000w"></a>
    <img src="/images/logo.png" id = "logo">
  </div>
</div>