<div id="fitness-donut" data-role="page" data-theme="a" class="fitness-donut">
  <div data-role="header" data-theme = "b">
    <h1>Fatman</h1>
    <a class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a>
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <div id="donut-chart">
  </div>
    <script type="text/javascript">
        var dataset = [
          { label: 'beers', count: 10 }, 
          { label: 'miles', count: 20 }
        ];

        var width = 500,
            height = 500,
            radius = Math.min(width, height) / 2;

        var color = d3.scale.category20();

        var pie = d3.layout.pie()
            .value(function(d) { return d.count; })
            .sort(null);

        var arc = d3.svg.arc()
            .innerRadius(radius - 100)
            .outerRadius(radius - 90);

        var svg = d3.select("#donut-chart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("class", "donut")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var path = svg.selectAll("path")
            .data(pie(dataset))
            .enter().append("path")
            .attr("fill", function(d, i) { return color(i); })
            .attr("d", arc);

        var beertext = d3.select("g")
                     .datum(dataset)
                     .append("text")
                     .attr("class", "text")
                     .attr("transform", "translate(" + -40 + "," + -30 + ")")
                     .text(function(p, i) {
                        return p[1].label + ":" + " " + p[1].count;
                     })
                     .style("text-align", "center");
        var labeltext = d3.select("g")
                     .datum(dataset)
                     .append("text")
                     .attr("class", "text")
                     .attr("transform", "translate(" + -40 + "," + 10 + ")")
                     .text(function(p, i) {
                        return p[0].label + ":" + " " + p[0].count;
                     })
                     .style("text-align", "center");

    </script>
</div>