<div id="fitness-donut" data-role="page" data-theme="a" class="fitness-donut">
  <div data-role="header" data-theme = "b" data-add-back-btn="true">
    <h1>Fatman</h1>
    <!-- <a class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a> -->
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <h1>FITNESS LEVEL</h1>
     <div id="donut-chart"></div>
      <p><span id="user-height">Height: </span></p>
      <p><span id="user-weight">Weight: </span></p>
      <p><span id="user-age">Age: </span></p>
      <p><span id="user-activity">Activty: </span></p>
  </div>
  <div data-role="footer" data-position="fixed"> 
    <a href="#coupon" data-role="button" style="width: 80%;">NEXT</a>
  </div>
    <script type="text/javascript">
        var user, userBeers, userMiles, dataset;
        
        dataset = [
                  { label: 'beers', count: 1}, 
                  { label: 'miles', count: 1},
                  { label: 'empty', count: 100}
                ]; 
        $(window).on('load', function() {
            $.ajax({
                url: '/users/info',
                type: 'GET',
                async: false,
                success: function(data) {
                    console.log(data);
                    dataset[0].count = data[0].beers || 1;
                    dataset[1].count = data[0].miles || 1;
                    $("#user-height").append("<span>" + data[0].height.feet + " " + data[0].height.inches + " " + "</span>");
                    $("#user-weight").append("<span>" + data[0].weight + "</span>");
                    $("#user-age").append("<span>" + data[0].age + "</span>");
                    $("#user-activity").append("<span>" + data[0].activity.activityLevel + "</span>");
                    $(".miles-text").text("Miles: " + data[0].exercise.miles);
                    $(".beer-text").text("Beers: " + data[0].beers.drank);
                }
            });
        });
        

        function drawChart() {
            var width = 300,
            height = 300,
            radius = Math.min(width, height) / 2;

            var color = d3.scale.category20();

            var pie = d3.layout.pie()
                .value(function(d) { return d.count; })
                .sort(null);

            var arc = d3.svg.arc()
                .innerRadius(radius - 50)
                .outerRadius(radius - 20);

            var svg = d3.select("#donut-chart").append("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("viewBox", "0 0" + " " + height + " " + width)
                .attr("preserveAspectRatio", "xMidYMid")
                .append("g")
                .attr("class", "donut")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            var path = svg.selectAll("path")
                .data(pie(dataset))
                .enter().append("path")
                .attr("fill", function(d, i) { return color(i); })
                .attr("d", arc);

            var beertext = d3.select("g")
                         .datum(dataset)
                         .append("text")
                         .attr("class", "beer-text")
                         .attr("id", "beer-text")
                         .attr("transform", "translate(" + -40 + "," + -30 + ")")
                         .text(function(p, i) {
                            var str = p[1].label;
                            return str.toUpperCase() + ":" + " " + p[1].count;
                         })
                         .style("text-align", "center")
                         .style("fill", "#333");
            var milestext = d3.select("g")
                         .datum(dataset)
                         .append("text")
                         .attr("class", "miles-text")
                         .attr("id", "miles-text")
                         .attr("transform", "translate(" + -40 + "," + 10 + ")")
                         .text(function(p, i) {
                            var str = p[0].label;
                            return str.toUpperCase() + ":" + " " + p[0].count;
                         })
                         .style("text-align", "center")
                         .style("fill", "#333");
            var aspect = height / width, chart = $("#donut-chart");
            $(window).on("resize", function() {
                var targetWidth = chart.parent().width();
                chart.attr("width", targetWidth);
                chart.attr("height", targetWidth / aspect);

        });
        }
        drawChart();
        //resize chart to window
        

    </script>
</div>