<div id="height" data-role="page" data-theme="a">
  <div>
    <div>MY HEIGHT</div>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="height" id="height" value="1">
      <span>'</span>
      <div class="dec button">-</div>
      <label for="name">FEET</label>
    </form>
    <span>'</span>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="height" id="height" value="1">
      <span>"</span>
      <div class="dec button">-</div>
      <label for="name">INCHES</label>
    </form>
    <span>"</span>
  </div>
</div>