<div id="height" data-role="page" data-theme="a">
  <div data-role="header" data-theme = "b">
    <h1>Fatman</h1>
    <!-- <a data-role="button" data-rel="back" class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a> -->
    <a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
  </div><!-- /header -->
  <div class="ui-content">
    <h1>MY HEIGHT</h1>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="height" id="height-feet" value="1">
      <div class="dec button">-</div>
      <label for="name">FEET</label>
    </form>
    <form method="post" action="">
      <div class="inc button">+</div>
      <input type="text" name="height" id="height-inches" value="1">
      <div class="dec button">-</div>
      <label for="name">INCHES</label>
    </form>
  </div>
  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id = "height-btn">NEXT</a>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
          method: 'GET',
          url: '/user',
          headers: {'jwt': accessToken},
          contentType: 'application/json',
          success: function(data) {
            console.log('GET height', data);
            $('#height-feet').val(data.height.feet);
            $('#height-inches').val(data.height.inches);
          },
          error: function(data) {
            console.log('error', data);
          }
        });
    });
  </script>
</div>