doctype html
html
	head
		title= Fatman
		link(rel='stylesheet', href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" )
		link(rel='stylesheet', href="/stylesheets/style.css"  )
		script (src="http://d3js.org/d3.v3.min.js")
		script(src="http://code.jquery.com/jquery-1.11.1.min.js")
		script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")
		script(src="http://d3js.org/d3.v3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.min.js")
		script(src='/javascripts/jqm_inits.js')
		script(src='/javascripts/user.js')
		script(src='/javascripts/facebook_logins.js')
		script(src='/javascripts/main_page.js')
	body
		block content
			include login.html
			include index.html
			include menu_panel.html
			include intro.html
			include height.html
			include weight.html
			include birthday.html
			include run.html
			include beers.html
			include fitness_donut.html
			include activity.html
			include coupon.html
			include admin.html



