<div id = "main-page" data-role="page" data-theme = "a">
	<script type="text/javascript">
		 $(function(){
      $(".button").on("click", function() {

      var $button = $(this);
      var oldValue = $button.parent().find("input").val();

        if ($button.text() == "+") {
          var newVal = parseFloat(oldValue) + 1;
        } else {
         // Don't allow decrementing below zero
          if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
          } else {
            newVal = 0;
          }
        }

        $button.parent().find("input").val(newVal);
      });

      $(".minute-button").on("click", function() {

      var $button = $(this);
      var oldValue = $button.parent().find("input").val();

        if ($button.text() == "+") {
          var newVal = parseFloat(oldValue) + 1;
          if (newVal < 10) {
          	newVal = "0" + newVal;
          }
        } else {
          if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
            if (newVal < 10) {
            	newVal = "0" + newVal;
            }
          } else {
            newVal = "0" + 0;
          }
        }

        $button.parent().find("input").val(newVal);
      });
    });
	</script>
	<div data-role="header" data-theme = "b">
		<h1>Fatman</h1>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
	</div><!-- /header -->

	<div id = "run-content"class="action ui-content">
		<h1>Run</h1>	
	</div>
	<div id = "user-beer-data" data-role="header">
		<h1 id = "user-data">
			<span id = "user-name"></span>
			<span id = "user-beer"></span>
		</h1>
	</div><!-- /header -->
	<div id = "drink-content"class="action ui-content" >
		<h1>Drink</h1>
	</div>
</div><!-- /page -->