<div id="intro" data-role="page" data-theme="a">
	<div data-role="header" data-theme="b">
    <button class="signout-button">Sign Out</button>
		<h1>Fatman</h1>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
	</div><!-- /header -->
  <div data-role="header">
    OPTIMIZE YOUR PROFILE
  </div>
  <div role="main" class="ui-content">
    If you give Fatman a little more info we'll be able to provide you with more accurate data.
    </br>
    Sweet Huh?
    </br>
    <form>
      <span>Are you a guy or a gal?</span>
       <fieldset data-role="controlgroup">
        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a">
        <label for="checkbox-v-2a">MALE</label>
        <input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b">
        <label for="checkbox-v-2b">FEMALE</label>
    </form>
  </div>
  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <a href="#" data-role="button" style="width: 80%;" id = "intro-btn">NEXT</a>
  </div>
</div>