<div id="intro" data-role="page" data-theme="a">
	<div data-role="header" data-theme = "b">
		<h1>Fatman</h1>
    <a class="back-bn ui-btn ui-btn-left ui-nodisc-icon ui-btn-icon-notext ui-icon-back" >Back</a>
		<a href="#menu-panel" class="ui-btn ui-btn-right ui-nodisc-icon ui-btn-icon-notext ui-icon-bars" >Menu</a>
	</div><!-- /header -->
  <div data-role="header">
    OPTIMIZE YOUR PROFILE
  </div>

  <div role="main" class="ui-content">
    If you give Fatman a little more info we'll be able to provide you with more accurate data.
    </br>
    Sweet Huh?
  </div>
</div>