doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
  body
    block content
    include index.html
    include intro.html
    include height.html