doctype html
html
	head
		title Fatman Admin Console
		link(rel='stylesheet', href="/stylesheets/admin.css"  )
		script(src="http://code.jquery.com/jquery-2.1.4.min.js")
	body
		div.main-content
			block content
		script(src="/javascripts/admin/s3_uploader.js")