doctype html
html
	head
		title Fatman Admin Console
		link(rel='stylesheet', href="/css/admin.css"  )
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	body
		div.main-content
			block content
		script(src="/js/admin/s3_uploader.js")