#main-content #logo{
	width: 70%;
  margin-left: 15%;
  margin-top: 20%;
}

.fitness-donut {
  text-align: center;
}

.fitness-donut h2{
  text-align: center;
  position: relative;
  top: 50px;
}

/*.doughnut {
  background-color: transparent;
  border: 20px solid blue;
  border-radius: 400px;
  height:300px;
  width:300px;
  margin: 0 auto;
}*/
	
}
#main-content #fb-loging-btn{
	background-color: #3B5998;
	color:#fff;
	text-shadow: 0 0px 0 #fff;
}

