extends ../layout
block content
	h1 Add new Coupon
	form(id="coupon", method="post", action="/admin/coupons", enctype="multipart/form-data")
		input(type="hidden", id="coupon_image_url")
		input(type="text", placeholder="Name", name="name", id="coupon_name")
		br
		input(type="text", placeholder="Expiration: 30-05-2015", name="expiration", id="coupon_expiration")
		br
		input(type="text", placeholder="Location", name="location", id="coupon_location")
		br
		input(type="file",  name = "image_url", id="coupon_image")
		br
		input(type="submit", value = "Add new Coupon")
		br
		h3 Preview
		img(id="coupon_image_preview", src="/images/admin/placeholder.png", style = "width:350px")
